@if (Data != null)
{
    <div class="card bg-base-100 shadow-xl certificate ">
        <div class="card-body">
            <div class="row">
                <div class="image-container">
                    <img class="cert-icon" src="/images/certificate/@(Data.Key).png" />
                </div>
                <div class="col-12">
                    <a href="@Data.Link" target="_blank">
                        <h3>@Data.Title</h3>
                    </a>
                </div>
                <div class="issuer">
                    Issued in @Data.Year by @Data.Issuer
                </div>
            </div>
        </div>
    </div>
}

@code {
    /// <summary>
    /// The certificate
    /// </summary>
    [Parameter]
    public CertificateData? Data { get; set; }
}
