@if (Data != null)
{
    <div class="row">
        @foreach (var certificate in Data)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <Diploma Data="certificate"></Diploma>
            </div>
        }
    </div>
}

@code {
    /// <summary>
    /// Diploma list
    /// </summary>
    [Parameter]
    public DiplomaData[]? Data { get; set; }
}
