@if (Data != null)
{
    <div class="card bg-base-100 shadow-xl certificate ">
        <div class="card-body">
            <div class="row">
                <img class="country" src="/images/flags/@(Data.Country).png" />
                <div class="col-12">
                    <h3>@Data.Title</h3>
                </div>
                <div class="issuer">
                    Issued in @Data.Year by <a href="@Data.InstitutionUrl" target="_blank">@Data.Institution</a>
                </div>
            </div>
        </div>
    </div>
}

@code {
    /// <summary>
    /// Diploma data
    /// </summary>
    [Parameter]
    public DiplomaData? Data { get; set; }
}
