<div class="error">    
    <i class="fa-solid fa-face-angry"></i>
    <h1>Oups !</h1>
    <h3>Something did not go very well. Please refresh the page after a few seconds.</h3>
    <h3>Mostefai Mohammed Amine</h3>
</div>