<div class="loader">
    <div id="dots1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>Mostefai Mohammed Amine's CV</h1>
    <h3>Please wait while the page is loading...</h3>
</div>